* {box-sizing:border-box;}
body{
background-color:#5280C5;
background-image:url(gadient blue.jpg);
color: #003366;
font-family:Verdana,Arial,sans-serif;
}
#wrapper{
background-color: #FOFOFO;
margin-left:auto;
margin-right:auto;
width:90%;
min-width: 700px;
}
header{
background-color: #000066;
background-image: url(bigfish.gif);
background-position:center;
background-repeat:no repeat;
color: #F0F0F0;
font-family:Georgia,"Times New Roman",serif;
padding:1em;
text-align:center;
}
header a {text-decoration:none;}
header a:link  {color: #F0F0F0;}
header a:visted {color: #F0F0F0;}
header a:hover {color: #AEC3E3;}
h1{
font-size:3em;
padding:0.2em;
text-shadow:3px 3px 3px 3px #CCC;}
h2{
font-size:1.2em;
text-shadow:1px 1px 1px #777;
}
nav{
float:left;
font-weight:bold;
padding:.5em;
width:180px;
}
nav ul{ list-style-type:none;}
nav a { text-decoration:none;}
nav a:link   {color: #000066;}
nav a:visted {color: #5280C5;}
nav a:hover  {color: #3262A3;}
main{
background-color: #FFF;
border:1px soild #AEC3E3;
display:block;
margin-left:180px;
overflow:auto;
padding-left:2em;
padding-right:2em;
}
dt{
color: #5280C5;
font-size:1.1em;
font-family:Georgia,"Times New Roman",serif;
font-weight:bold;
}
section {
background-color: #EAEAEA;
float:left;
margin-bottom:1em;
margin-right: 1em;
min-height:200px;
padding:0;
width:30%;
}
section h3 {
background-color: #AEc3E3;
font-size:110%;
margin-bottom:0;
margin-top:0;



